<h3>Hello <%= @username %>,</h3>


Thank you for signing up with Trail Buddies.
Here is a link so you can confirm your email address: <%= @link %>

If you did not sign up then someone must have used your email address. If this is so, please send an email to help@trailbuddies.club.

<sub>
  Kind regards
  The TrailBuddies team
</sub>